@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom scrollbar */
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-primary-600 rounded-full;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-700;
  }

  .scrollbar-thumb-white::-webkit-scrollbar-thumb {
    @apply bg-white/50;
  }

  .scrollbar-thumb-white::-webkit-scrollbar-thumb:hover {
    @apply bg-white/70;
  }

  .scrollbar-track-white::-webkit-scrollbar-track {
    @apply bg-white/20;
  }
}

